:root {
    --ccbeige: #FDFCDC;
    --ccorange: #FED9B7;
    --ccred: #F07167;
    --ccblue: #00AFB9;
    --ccindigo: #0081A7;
}

* {
    font-family: cursive;
}

main {
    flex: 1;
    margin: 20px 0 0 10%;
    border-left: 2px black solid;
    border-right: 2px black solid;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.589);

}

.layout {
    display: flex;
    align-items: flex-start;
    padding: 1rem;
}

/* 
this will affect the <body></body> tag.
you can use this to style any HTML tag, like <p>, <div>, <span>, <a>, etc.
*/
body {
    background-image: url(bg.jpg);
    background-position: center;
    background-size: 40%;
     height: 100vh;
}
/*===============================TYPOGRAPHY===========================*/

p {
    font-size: medium;
}

h1 {
    text-align: center;
    font-family: cursive;
}

ul {
    list-style-type: none;
    width: 200px;
    position: relative;
    display: flex;
}

li a:hover {
    background-color: #00AFB9;
}



nav {
    max-width: 200px;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    float: right;
    background: #f4ede6be;
    
}
/*===============================container===========================*/

/*===============================CLASSES===========================*/
.container {
    margin: 10%;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
}
.intro {
    position-anchor: right;
    position: relative;
}

.float-img {
    float: left;
    width: 200px;
    margin: 10px;
}

div.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

div.gallery-item {
    margin: 5px;
    border: 1px solid black;
    width: 180px;
}

div.gallery-item img {
    width: 250px;
    height: 250px;

}

div.gallery-item.desc {
    padding: 15px;
    text-align: center;
}