:root {
    --ccbrown: rgb(81, 44, 44);

}

* {
    font-family: cursive;
    color: rgb(81, 44, 44);
    box-sizing: border-box;
}

main {
    max-width: 1000px;
    margin: 0 20%;
    border-left: 3px var(--ccbrown) solid;
    border-right: 3px var(--ccbrown) solid;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.767);
    

}

.layout {
    flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  gap: 2rem;
  flex-direction: column;
  flex-wrap: wrap;
}

/* 
this will affect the <body></body> tag.
you can use this to style any HTML tag, like <p>, <div>, <span>, <a>, etc.
*/
body {

    background-image: url(images/bg.jpg);
    background-color: #cccccc;
    /*always set if image unavilable*/
    background-position: center;
    background-size: auto;
    background-repeat: repeat;

}

/*===============================TYPOGRAPHY===========================*/

p {
    font-size: medium;
}

h1 {
    text-align: center;
    font-family: cursive;
}

ul {
    list-style-type: none;
    max-width: 200px;
    position: relative;
    display: flex;
    margin: 20% 20%;
}

li a:hover {
    background-color: rgba(165, 42, 42, 0.4);
}



nav {
    max-width: 200px;
    min-width: 150px;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    float: left;
    
    flex-wrap: wrap;

    align-items: space-evenly;

}

nav ul {

    padding: 25%;
    margin: 10%;
    display: flex;
    flex-direction: column;

    border: 3px var(--ccbrown) solid;
    background: #f4ede6be;
}

/*===============================container===========================*/
.container {
    border: 4px var(--ccbrown) dotted;
    border-radius: 15px;
}

.content{
    flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  gap: 2rem;
  flex-grow: 3;
}
.right{
    flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.left{
    flex-grow: 4;
    flex-direction: row;
    
}

/*===============================CLASSES===========================*/

.footer {
    font-size:smaller;
    margin: 10px 10px;
  text-align: left;
  padding: 1rem;
  font-weight: bold;
}
.intro {
    position-anchor: right;
    position: relative;
}

.float-img {
    float: left;
    width: 200px;
    margin: 10px;
}

div.gallery-container {
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 300px;
    gap: 2em;
}

div.gallery-item {
    width: 100%;
    height: 100%;
    position: relative;
    
    
}
div.image{
overflow: hidden;


}
div.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
    transition: .5s ease-in-out;

}

div.gallery-item.text {
    padding: 15px;
    text-align: center;
}


/* Start https://www.cursors-4u.com */
* {
    cursor: url(https://cur.cursors-4u.net/holidays/hol-4/hol336.cur), auto !important;
}

/* End https://www.cursors-4u.com */