
:root {
    --ccbeige: #FDFCDC;
    --ccorange: #FED9B7;
    --ccred: #F07167;
    --ccblue: #00AFB9;
    --ccindigo:#0081A7;
}
* {
    font-family: Courier New, 'Courier', monospace;
    border: #00AFB9 solid 2px;
}
/* 
this will affect the <body></body> tag.
you can use this to style any HTML tag, like <p>, <div>, <span>, <a>, etc.
*/
body { 
    background-color:lightgrey;
}
p {
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    font-size: medium;
}

h1 {
    text-align: center;
}
ul {
    list-style-type: none;
    width: 200px;

}
li a:hover{
    background-color: #00AFB9;
}
/* 
this will affect elements with the 'cool' class, as shown by the '.'
e.g <div class = "cool"><div> 

classes can be applied to multiple elements
*/
.intro{
    position-anchor: right;
    position:relative;
}

/* 
this will affect elements with the 'very-cool' id, as shown by the '#'
e.g <div id = "very-cool"><div> 

ids should only be applied to one element
*/
#very-cool { 
    background: white;
}